@import "profile_nav.css";

#top-div {
  justify-self: center;
  width: 90%;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 90%;
}

#top-div h1 {
  text-align: left;
  font-size: 3rem;
  margin: .5em 0;
}


input[type=text], input[type=password], input[type=email], input[type=url] {
  width: 80%;
  height: 30px;
  margin: 1em 0 2em 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: #ffff;
}