@import "profile_nav.css";

#table-div {
  justify-self: center;
  height: 80%;
  width: 80%;
}

#release-table {
  /* height: 100%; */
  width: 100%;
  text-align: left;
}

#release-content {
  overflow: auto;
  margin: 0;
}

#release-table th {
  padding-bottom: 3em;
}

#release-table td {
  padding-bottom: 3em;
}

.scheduled {
  color: white;
  background-color: rgb(0, 201, 0);
  border: none;
  border-radius: 15px;
  padding: .3em 2em;
  font-size: 1em;
}

.delivered {
  color: white;
  background-color: rgb(44, 44, 44);
  border: none;
  border-radius: 15px;
  padding: .3em 2em;
  font-size: 1em;
}