#content_right {
  display: grid;
  align-items: center;
  width: 100%;
  overflow: auto;
  background-color: var(--main-wht-color);
  color: var(--main-cnt-color);
}

#new_form {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

label {
  font-weight: bold;
}

.input_div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5em;
  row-gap: 1em;
  margin: 1em auto;
}

.input_div div {
  display: grid;
  align-items: center;
  width: 100%;
}

.file_input_div {
  display: grid;
  row-gap: 1em;
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
}



#top_div {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 20% 80%;
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
}

#image_div {
  display: grid;
  text-align: left;
  height: 90%;
  width: 90%;
  margin-bottom: 1em;
  cursor: pointer;
}

#image_upload_div {
  align-self: center;
  border: 2px dashed #dfdfdf;
}

#image_div p {
  cursor: pointer;
}

#image_div img {
  max-width: 100%;
  max-height: 100%;
}

/* .edit_image {
  align-self: right;
  bottom: 0;
} */

#remove_image {
  cursor: pointer;
}

#remove_audio {
  cursor: pointer;
}

#press_upload {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: .2em;
  height: 200px;
  border: 2px dashed #dfdfdf;
  margin: 1em 0;
  overflow: auto;
}

#press_frame {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

#press_frame img {
  max-width: 100%;
  max-height: 100%;
}

#add_press {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  font-size: .9em;
  cursor: pointer;
}

#remove_press {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  color: #dfdfdf;
  cursor: pointer;
}

#new_form_div {
  width: 90%;
  padding: 1em;
  text-align: left;
}

.new_input {
  width: 100%;
  margin: 1em 0 2em 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: var(--main-cnt-color);
  font-size: 20px;
}

#checkboxlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  align-items: center;
  text-align: start;
}

/* #new_form_div label {
  font-size: 80%;
  font-weight: bold;
} */

#new_form_div textarea {
  margin: 1em 0;
  color: var(--main-cnt-color);
  font-size: 20px;
  resize: none;
  overflow: auto;
}

::placeholder {
  color: rgb(139, 139, 139);
}

#submit_div {
  display: flex;
  justify-content: left;
  column-gap: 2rem;
  align-items: center;
}

.profile_btn {
  background-color: var(--main-btn-color);
  color: var(--main-wht-color);
  text-align: center;
  text-decoration: none;
  padding: .5em 1.5em;
  font-size: 1.5em;
  border: none;
}


@media (max-width: 700px) {
  #content_right {
    display: block;
  }

  #top_div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .input_div {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }


  #submit_div {
    flex-wrap: wrap;
    row-gap: 1em;
  }
}