#profile_content_right {
  display: grid;
  /* grid-template-rows: 10% auto; */
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: white;
  color: black;
}


#profile_view_div {
  display: grid;
  /* grid-template-rows: 10% 90%; */
  justify-self: center;
  /* justify-content: center; */
  text-align: left;
  width: 90%;
  height: 100%;
}

.profile_data_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#profile_form {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

#profile_form_div {
  width: 90%;
  padding: 2rem;
  text-align: left;
}

#top_div {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 20% 80%;
  width: 100%;
  /* padding: 1em 0; */
  text-align: left;
}

#image_div {
  display: grid;
  position: relative;
  text-align: left;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 90%;
}

#image_div label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 80%;
  font-weight: bold;
}

#image_div p {
  cursor: pointer;
  padding-top: 1rem;
  font-size: 90%;
}

#image_div img {
  max-width: 100%;
  max-height: 100%;
  margin: .5em 0;
}

#remove_image {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#username_div {
  font-size: 3em;
  text-transform: uppercase;
}


.profile_input_div {
  display: flex;
  justify-content: space-between;
  column-gap: 5em;
}

.profile_input_div div {
  display: grid;
  align-items: center;
  width: 100%;
}

.profile_input {
  width: 100%;
  /* height: 30px; */
  margin: 1em 0 2em 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: black;
  font-size: 20px;
}

.profile_input_div label {
  font-size: 80%;
  font-weight: bold;
}

.profile_input_div textarea {
  margin: 1em 0;
  color: black;
  font-size: 20px;
  resize: none;
  overflow: auto;
}

::placeholder {
  color: rgb(139, 139, 139);
}

#profile_submit_div {
  display: flex;
  justify-content: left;
  column-gap: 2rem;
  align-items: center;
}

#profile_submit_div a {
  text-decoration: none;
}

.profile_btn {
  background-color: #8a1a1a;
  color: white;
  text-align: center;
  padding: .5em 1.5em;
  font-size: 1.5em;
  border: none;
}

@media (max-width: 500px) {
  .profile_input_div {
    display: inline;
  }
}