body {
  /* background-color: black; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .15em;
  margin: 0;
  height: auto;
  width: auto;
  /* min-width: 1000px; */
}

#body_wrapper {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(82, 82, 82);
}


#profile_body_wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  background-color: rgb(82, 82, 82);
}

#home_block {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* margin-top: 5vh; */
  background-color: darkgray;
  padding-left: 3rem;
}

#intro_text {
  margin-left: 5rem;
  width: 40%;
  text-align: left;
}

#intro_text p {
  font-size: 80px;
  color: white;
}

#intro_btn {
  display: grid;
  justify-content: left;
  margin-left: 5rem;
}

#intro_btn a {
  background-color: #8a1a1a;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 40px;
  /* font-size: 150%; */
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}



.loadingSpinnerContainer {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  #body {
    min-width: 300px;
  }

  #body_wrapper {
    display: grid;
  }

  #profile_body_wrapper {
    grid-template-columns: 100%;
  }

  #home_block {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    padding: .8em;
  }

  #intro_text {
    margin: auto;
    width: auto;
  }

  #intro_text p {
    text-align: center;
  }

  #intro_btn {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  #intro_text p {
    font-size: 60px;
  }

  #intro_btn a {
    font-size: 25px;
  }
}

@media (max-height: 700px) {
  #profile_body_wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    /* margin: 10% auto; */
  }

  #intro_text p {
    font-size: 50px;
  }

  #intro_btn a {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  #body_wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }

  #profile_body_wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    /* margin: 10% auto; */
  }
}